@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  body {
    background-color: #181818;
    color: rgb(216, 216, 216);
  }
}
[data-theme="light"] {
  :root {
    --background: #eaeaea;
    --foreground: #070707;
  }
  body {
    background-color: rgb(241, 241, 241);
    color: #131111;
  }
}
.dark {
  background-color: #141414;
  color: white;
}
.light {
  background-color: white;
  color: #070707;
}
.btndark {
  background-color: #262626;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.mainContent {
  position: absolute;
}
/* Mobile: 400px and up */
@media (min-width: 400px) {
  body {
    width: 100%;
    padding: 2px;
  }
}

/* Tablet: 728px and up */
@media (min-width: 728px) {
  body {
    width: 700px;
    margin: 0 auto;
  }
}

/* Desktop: 1200px and up */
@media (min-width: 1024px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Extra large: 1500px and up */
@media (min-width: 1500px) {
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media (min-width: 2000px) {
  body {
    scale: 150%;
  }
}
.transition {
  transition: ease-in-out 300;
}
@keyframes uploadBtn {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 20px;
  }
  50% {
    bottom: 15px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
.uploadBtn {
  animation: uploadBtn 2s infinite;
}
.uploadBtn:hover {
  animation-play-state: paused;
}

@keyframes chatOpen {
  0% {
    top: 100%;
  }
  100% {
    bottom: 2em;
  }
}
.chatOngoi {
  animation: chatOpen;
  transition: ease-in-out 0.3s;
}

.no-scrollbar {
  scrollbar-width: none;
}
@keyframes ChatAnimation {
  0% {
    right: -20%;
    scale: 5%;
  }
  100% {
    right: 0%;
    scale: 100%;
  }
}
.chatAnimation {
  animation: ChatAnimation;
  animation-duration: 0.5s;
}
@keyframes ChatCloseAnimation {
  0% {
    right: 0%;
    scale: 100%;
  }
  100% {
    right: -20%;
    scale: 5%;
  }
}

[open="false"] {
  animation: ChatCloseAnimation;
  animation-duration: 0.5s;
}
